.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore all files in any directory named build
Controles/
cuadernos/
Diapositivas/
libros/
Planificación/
Talleres/
Programa/
.httr-oauth
Base Datos Análisis Económico 2 - Calendario Clase a Clase.pdf
Planificación
